.home-hero-buttons {
  --home-hero-buttons-gap: #{calculate-clamp(
    12px,
    24px,
    $desktop-breakpoint,
    $lg-breakpoint
  )};

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--home-hero-buttons-gap);

  @media (min-width: $desktop-breakpoint) {
    --home-hero-buttons-gap: #{vw(24)};
  }

  @media (max-width: $tablet-breakpoint) {
    align-items: normal;
    display: grid;
  }
}
