.program {
  &__block {
    --program-block-gap: 20px;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--program-block-gap);
  }

  &__textbox {
    --program-textbox-max-width: 60%;
    --textbox-gap: 4px;

    max-width: var(--program-textbox-max-width);
  }

  &__btns {
    --program-btns-gap: 16px;

    display: flex;
    align-items: center;
    gap: var(--program-btns-gap);
  }

  @media (min-width: $desktop-breakpoint) {
    --program-block-gap: #{vw(20)};
    --program-textbox-max-width: 60%;
    --program-btns-gap: #{vw(16)};
  }

  @media (max-width: $lg-breakpoint) {
    &__textbox {
      --program-textbox-max-width: 100%;
    }
   

    &__block {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &__btns {
      display: grid;
      width: 100%;
      align-items: normal;
    }
  }
}
