.hero {
  --hero-inner-gap: #{calculate-clamp(
      24px,
      40px,
      $desktop-breakpoint,
      $lg-breakpoint
    )};
  --hero-content-gap: #{calculate-clamp(
      24px,
      50px,
      $desktop-breakpoint,
      $lg-breakpoint
    )};
  --hero-content-max-width: 100%;
  --hero-block-gap: 20px;
  --hero-footer-gap: #{calculate-clamp(
      24px,
      40px,
      $desktop-breakpoint,
      $lg-breakpoint
    )};

  width: 100%;

  &__inner {
    gap: var(--hero-inner-gap);

    &--grid {
      display: grid;
      grid-template-columns: 60% auto;
      align-items: center;
    }

    &--default {
      display: flex;
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--hero-content-gap);
    max-width: var(--hero-content-max-width);
    width: 100%;
  }

  &__title {
    font-family: var(--font-family-second);
    
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: var(--hero-block-gap);
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: var(--hero-footer-gap);
  }

  &__textbox {
    color: var(--primary-color-70);
  }

  @media (min-width: $desktop-breakpoint) {
    --hero-inner-gap: #{vw(40)};
    --hero-content-gap: #{vw(50)};
    --hero-content-max-width: 100%;
    --hero-block-gap: #{vw(20)};
    --hero-footer-gap: #{vw(40)};
  }

  @media (max-width: $lg-breakpoint) {
    &__inner {
      &--grid {
        display: flex;
        flex-direction: column;
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &__inner {
      .hero {
        &__title {
          &--h2 {
            font-size: var(--font-size-lg);
          }

          &--h1 {
            font-size: var(--font-size-xl);
          }
        }
      }
    }
  }
}
