.breadcrumbs {
  --breadcrumbs-gap: 10px;
  --breadcrumbs-list-gap: 4px;

  display: flex;
  flex-direction: column;
  gap: var(--breadcrumbs-gap);

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--breadcrumbs-list-gap);
  }

  &__link {
    width: fit-content;
  }

  &__item {
    color: var(--primary-color-400);
    transition: color var(--transition-base);

    &:hover,
    &.last {
      color: var(--primary-color-100);
    }
  }

  @media (min-width: $desktop-breakpoint) {
    --breadcrumbs-gap: #{vw(10)};
    --breadcrumbs-list-gap: #{vw(4)};
  }
}
