.challenge {
  --challenge-content-gap: 16px;
  --challenge-items-gap: #{calculate-clamp(
      16px,
      32px,
      $desktop-breakpoint,
      $lg-breakpoint
    )};
  --challenge-card-padding: 40px;
  --challenge-card-gap: 16px;
  --challenge-card-border-width: 1px;
  --challenge-card-item-gap: 24px;
  --challenge-card-icon-width: 32px;
  --challenge-card-icon-padding: 10px;

  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--challenge-content-gap);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--challenge-items-gap);
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: var(--challenge-card-gap);
    padding: var(--challenge-card-padding);
    border: var(--challenge-card-border-width) solid var(--gray-color-60);
    background-color: var(--gray-color-40);
    backdrop-filter: blur(4px);
    border-radius: var(--radius-4xl);
  }

  &__card-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: var(--challenge-card-item-gap);
  }

  &__card-title {
    font-weight: var(--weight-font-xs);
    color: var(--primary-color-70);
  }

  &__card-textbox {
    font-family: var(--font-family-second);
    
  }

  &__card-content {
    &:not(:last-child) {
      padding-right: calc(
        var(--challenge-card-icon-width) + var(--challenge-card-icon-padding)
      );
      position: relative;
      display: flex;
      align-items: center;

      &:before {
        position: absolute;
        content: "";
        right: 0;
        width: var(--challenge-card-icon-width);
        aspect-ratio: 1 / 1;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M23.9941 10.6641L29.3262 15.9961L23.9941 21.3281' stroke='%2307064A' strokeOpacity='0.3' strokeWidth='2.66602' strokeLinecap='round' strokeLinejoin='round'/%3E%3Cpath d='M2.66602 15.9961H29.3262' stroke='%2307064A' strokeOpacity='0.3' strokeWidth='2.66602' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E");
        background-position: center;
        background-size: contain;
      }
    }
  }

  @media (min-width: $desktop-breakpoint) {
    --challenge-content-gap: #{vw(16)};
    --challenge-items-gap: #{vw(32)};
    --challenge-card-padding: #{vw(40)};
    --challenge-card-gap: #{vw(16)};
    --challenge-card-border-width: #{vw(1)};
    --challenge-card-item-gap: #{vw(24)};
    --challenge-card-icon-width: #{vw(32)};
    --challenge-card-icon-padding: #{vw(10)};
  }

  @media (max-width: $lg-breakpoint) {
    &__items {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    --challenge-card-padding: 24px;
    --challenge-card-icon-width: 24px;

    &__card {
      border-radius: var(--radius-3xl);
    }
  }

  @media (max-width: $mobile-breakpoint) {
    --challenge-card-item-gap: 10px;

    &__card-content {
      &:before {
        display: none;
      }

      &:not(:last-child) {
        padding: 0;
      }
    }

    &__card-item {
      display: flex;
      flex-direction: column;
      // align-items: normal;
    }
  }
}
