@mixin programMediaAndAdmin {
  background-color: var(--gray-color-0);
  padding: #{calculate-clamp(24px, 40px, $lg-breakpoint, $tablet-breakpoint)};
  border-radius: var(--radius-2xl);
  flex-direction: column-reverse;

  &__img {
    display: none;
  }
}

.program {
  --program-gap: 60px;
  --program-content-gap: 36px;
  --program-block-gap: 26px;
  --program-footer-gap: 10px;
  --program-btns-gap: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--program-gap);

  &__img {
    aspect-ratio: 10 / 13;
    width: 100%;
    border-radius: var(--radius-sm);
    overflow: hidden;
    position: relative;
    max-width: 40%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--program-content-gap);
    width: 100%;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: var(--program-block-gap);
  }

  &__title-sub {
    font-family: var(--font-family-second);
    
    color: var(--primary-color-60);
    
  }

  &__textbox {
    color: var(--primary-color-70);
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: var(--program-footer-gap);
    align-items: flex-start;
  }

  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--program-btns-gap);
    width: 100%;
  }

  &--admin {
    @include programMediaAndAdmin;

    .program {
      &__img {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-breakpoint) {
    --program-gap: #{vw(60)};
    --program-content-gap: #{vw(36)};
    --program-block-gap: #{vw(26)};
    --program-footer-gap: #{vw(10)};
    --program-btns-gap: #{vw(16)};
  }

  @media (max-width: $lg-breakpoint) {
    @include programMediaAndAdmin;
  }

  @media (max-width: $tablet-breakpoint) {
    --program-block-gap: 12px;

    &__img {
      display: flex;
      max-width: 100%;
    }

    &__title {
      font-size: var(--font-size-lg);

      br {
        display: none;
      }
    }
  }
}
