.admin-form {
  --admin-form-gap: 24px;
  --admin-form-max-width: 90%;
  --admin-form-top-gap: 24px;
  --admin-form-inputs-gap: 24px;
  --admin-form-item-gap: 16px;
  --admin-form-footer-gap: 10px;
  --admin-form-btns-gap: 16px;
  --admin-form-content-gap: 16px;
  --admin-form-block-gap: 16px;
  --admin-form-documents-item-padding: 24px;

  display: flex;
  flex-direction: column;
  gap: var(--admin-form-gap);
  max-width: var(--admin-form-max-width);
  margin: 0 auto;
  width: 100%;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--admin-form-top-gap);
  }

  &__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--admin-form-inputs-gap);

    &.admin-form__inputs--full {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--admin-form-item-gap);

    &--big {
      grid-column: 1 / -1;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: var(--admin-form-footer-gap);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--admin-form-content-gap);
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: var(--admin-form-block-gap);
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: var(--admin-form-btns-gap);

    &--two {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__cards {
    .admin-form__item {
      padding: var(--admin-form-documents-item-padding);
      background-color: var(--primary-color-20);
      border-radius: var(--radius-xl);
    }
  }

  &__item--bg {
    padding: var(--admin-form-documents-item-padding);
    background-color: var(--primary-color-20);
    border-radius: var(--radius-xl);
  }

  @media (min-width: $desktop-breakpoint) {
    --admin-form-gap: #{vw(24)};
    --admin-form-max-width: 90%;
    --admin-form-top-gap: #{vw(24)};
    --admin-form-inputs-gap: #{vw(24)};
    --admin-form-item-gap: #{vw(16)};
    --admin-form-footer-gap: #{vw(10)};
    --admin-form-btns-gap: #{vw(16)};
    --admin-form-content-gap: #{vw(16)};
    --admin-form-block-gap: #{vw(16)};
    --admin-form-documents-item-padding: #{vw(24)};
  }

  @media (max-width: $tablet-breakpoint) {
    &__btns {
      &--two {
        display: flex;
      }
    }
  }
}
