.programs {
  --programs-items-gap: 40px;

  width: 100%;

  &__items {
    display: flex;
    flex-direction: column;
    gap: var(--programs-items-gap);

    & > *:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  @media (max-width: $lg-breakpoint) {
    --programs-items-gap: 60px;
  }

  @media (max-width: $tablet-breakpoint) {
    &__items {
      & > *:nth-child(even) {
        flex-direction: column-reverse;
      }
    }
  }
}
