.header {
  --header-padding: 10px #{calculate-clamp(
    16px,
    24px,
    $desktop-breakpoint,
    $lg-breakpoint
  )};
  --header-border-width: 1px;
  --header-inner-gap: #{calculate-clamp(
    10px,
    30px,
    $desktop-breakpoint,
    $lg-breakpoint
  )};
  --header-btns-gap: #{calculate-clamp(
    16px,
    32px,
    $desktop-breakpoint,
    $lg-breakpoint
  )};

  position: fixed;
  z-index: 999;
  width: 100%;
  min-width: 0;
  left: 0;
  right: 0;
  top: var(--header-padding-top);

  &__inner {
    width: 100%;
    padding: var(--header-padding);
    backdrop-filter: blur(4px);
    border: var(--header-border-width) solid var(--gray-color-50);
    background-color: var(--gray-color-50);
    border-radius: var(--radius-max);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--header-inner-gap);
    margin: 0 auto;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: var(--header-btns-gap);
  }

  @media (min-width: $desktop-breakpoint) {
    --header-padding: #{vw(10)} #{vw(24)};
    --header-border-width: #{vw(1)};
    --header-inner-gap: #{vw(80)};
    --header-btns-gap: #{vw(32)};
  }

  @media (max-width: $tablet-breakpoint) {
    &__btns {
      display: none;
    }
  }
}
