.hero-img {
  --hero-img-box-padding-inline: 40px;
  --hero-img-card-padding: #{calculate-clamp(
      10px,
      16px,
      $desktop-breakpoint,
      $lg-breakpoint
    )}
    #{calculate-clamp(18px, 24px, $desktop-breakpoint, $lg-breakpoint)};
  --hero-img-card-gap: 6px;
  --hero-img-card-border-width: 1px;
  --hero-img-card-max-width: 200px;
  --hero-img-card-even-padding: #{calculate-clamp(
      12px,
      16px,
      $desktop-breakpoint,
      $lg-breakpoint
    )};
  --hero-img-card-animation-duration: 5s;
  --hero-img-card-rotate: -3deg;
  --hero-img-card-even-rotate: 3deg;
  --hero-img-card-translate-y: 10px;

  position: relative;
  overflow: hidden;
  padding-inline: var(--hero-img-box-padding-inline);

  &__box {
    aspect-ratio: 5 / 7;
    width: 100%;
    position: relative;
    z-index: 2;
    border-radius: var(--radius-7xl);
    overflow: hidden;
    background-color: var(--primary-color-40);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
    }
  }

  &__items {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    inset: 0;
  }

  &__card {
    padding: var(--hero-img-card-padding);
    border-radius: var(--radius-3xl);
    display: flex;
    flex-direction: column;
    gap: var(--hero-img-card-gap);
    border: var(--hero-img-card-border-width) solid var(--gray-color-80);
    background-color: var(--gray-color-60);
    color: var(--primary-color-0);
    width: fit-content;
    max-width: var(--hero-img-card-max-width);
    overflow-wrap: anywhere;
    animation: topBottom var(--hero-img-card-animation-duration) infinite;
    rotate: var(--hero-img-card-rotate);
    transition: opacity var(--transition-base);

    &:nth-child(even) {
      margin-left: auto;
      padding: var(--hero-img-card-even-padding);
      background-color: var(--primary-color-0);
      color: var(--gray-color-0);
      border-color: var(--primary-color-0);
      rotate: var(--hero-img-card-even-rotate);
      animation: bottomTop var(--hero-img-card-animation-duration) infinite;

      .hero-img {
        &__card-title {
          color: var(--gray-color-50);
        }
      }
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &__card-title {
    text-transform: uppercase;
    font-weight: var(--weight-font-md);
    color: var(--primary-color-40);
  }

  &__card-desc {
    font-family: var(--font-family-second);
    font-style: italic;
  }

  @media (min-width: $desktop-breakpoint) {
    --hero-img-box-padding-inline: #{vw(40)};
    --hero-img-card-padding: #{vw(16)} #{vw(24)};
    --hero-img-card-gap: #{vw(6)};
    --hero-img-card-border-width: #{vw(1)};
    --hero-img-card-max-width: #{vw(200)};
    --hero-img-card-even-padding: #{vw(16)};
    --hero-img-card-animation-duration: 5s;
    --hero-img-card-translate-y: #{vw(10)};
  }

  @media (max-width: $lg-breakpoint) {
    &__box {
      aspect-ratio: 3 / 4;
      max-width: 444px;
    }
  }
}

@keyframes topBottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--hero-img-card-translate-y));
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bottomTop {
  0% {
    transform: translateY(var(--hero-img-card-translate-y));
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(var(--hero-img-card-translate-y));
  }
}
